<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar">

        <div class="logo">
            Bicitaxis
        </div>

        <ul class="nav-links">

            <li>
                <a href="/dashboard">
                    Dashboard
                </a>
            </li>

            <li>
                <a href="/bicitaxis">
                    Bicitaxis
                </a>
            </li>

            <li>
                <a href="/conductores">
                    Conductores
                </a>
            </li>

            <li>
                <a href="/mantenimientos">
                    Mantenimientos
                </a>
            </li>

            <li>
                <a href="/reportes">
                    Reportes
                </a>
            </li>

            <li>
                <a href="/viajes">
                    Viajes
                </a>
            </li>

            <li>
                <a href="/logout">
                    Cerrar sesión
                </a>
            </li>

        </ul>

    </nav>
</body>
</html>